---
import ThemePreview from "@components/solid/ThemePreview";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="bg-base-100 mx-auto flex h-screen items-center justify-center">
    <ThemePreview client:only="solid-js" />
  </main>
</Layout>
