---
import TitleBar from "@components/TitleBar.astro";
import ThemeSelector from "@components/solid/ThemeSelector";
import type { DaisyuiThemes } from "@types";
import themesConfigs from "tailwind.config.mjs";
import { pwaInfo } from "virtual:pwa-info";
interface Props {
  title: string;
}
const daisyuiThemes = themesConfigs.daisyui.themes as DaisyuiThemes;

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/logo.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <TitleBar>
      <ThemeSelector themes={daisyuiThemes} client:only="solid-js" />
    </TitleBar>
    <slot />
  </body>
</html>
